* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 1920px;
    height: auto;
    margin: 0 auto;
    background: url('./Assets/catalogBackground.jpg') no-repeat center center;
    background-size: cover;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    color: #292F36;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 81.25px */
}

p,
a,
span {
    color: #4D5053;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 33px */
    letter-spacing: 0.22px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: #292F36;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 22.5px */
    letter-spacing: 0.36px;

    /* Убираем стандартную обводку и фон */
    border: none;
    outline: none;
    background: none;

    /* Дополнительные стили для кроссбраузерного сброса стандартного вида кнопки */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    cursor: pointer;
    flex-shrink: 0;

    display: flex;
    padding: 26px 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
.header-container {
    margin: 55px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    width: 62.4%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.logo h1 {
    font-size: 40px;
}

.burger {
    display: none;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 46px;
    align-items: center;
    margin-left: 33.4%;
    flex-shrink: 0;
}

header nav a {
    font-size: 20px;
}

.optionBut {
    border: none;
    outline: none;
    background: transparent;
    margin-left: -10px;
    padding: 0;
}

/* banner */
.banner {
    width: 100%;
    padding-top: 182px;
    background: url('./Assets/cartBanner.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.intro {
    display: flex;
    width: 26.2%;
    padding: 41px 68px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 37px 37px 0px 0px;
    background: #FFF;
}

.into-title {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.intro h2 {
    font-size: 50px;
}

.intro span {
    font-size: 22px;
}

/* project */
.project {
    margin: 200px 0;
    display: flex;
    width: 62.55%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 41px;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.price-num,
.service-num,
.catalog-butt span {
    font-size: 24px;
    letter-spacing: 0.48px;
    line-height: 125%;
}

.catalog-butt span {
    font-weight: 600;
}

.catalog-butt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-butt a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}


/* card */
.cart-card {
    column-count: 2;
    column-gap: 30px;
    width: 100%;
    max-height: 1596px;
    overflow: hidden;
}

.cart-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.cart-pic {
    width: 100%;
    height: 522px;
    overflow: hidden;
}

.cart-item.first .cart-pic,
.cart-item.last .cart-pic {
    height: 853px;
    overflow: hidden;
}

.cart-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cart-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.cart-title {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex-shrink: 0;
}

.cart-title h3 {
    font-size: 25px;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

.cart-title p {
    font-size: 22px;
}

.cart-price {
    font-size: 32px;
    letter-spacing: 0.32px;
    white-space: nowrap;
    flex: 1;
}

.remove-from-cart {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    padding: 0;
}

.remove-from-cart img {
    width: 57.273px;
    height: auto;
    flex-shrink: 0;
}

/* pagination */
.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pagination button {
    padding: 0 0;
    width: 52px;
    height: 52px;
    border-radius: 500px;
    border: 1px solid #CDA274;
}

.next-page {
    transform: rotate(180deg);
}

.page-button {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}

/* foot */

footer {
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 130px;
    max-height: 578px;
}

.interno {
    display: flex;
    width: 62.55%;
    align-items: flex-start;
    gap: 101px;
}

.interno-info {
    display: flex;
    width: 32.78%;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex-shrink: 0;
}

.interno-bottom-row {
    display: flex;
    flex-direction: row;
    gap: 101px;
    flex-shrink: 0;
}

.interno-info-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-bottom: 15px;
}

.interno-info-text p {
    font-size: 22px;
}

.interno-info-media {
    display: flex;
    width: 57.25%;
    align-items: center;
    gap: 54px;
}

.interno-page {
    display: flex;
    width: 10.42%;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    flex-shrink: 0;
}

.interno-page h3,
.interno-service h3,
.interno-contact h3 {
    font-size: 25px;
}

.interno-page a,
.interno-service a {
    font-size: 22px;
    line-height: 265%;
}

.interno-service {
    display: flex;
    width: 10.01%;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    flex-shrink: 0;
}

.interno-contact {
    display: flex;
    width: 21.52%;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    flex-shrink: 0;
}

.interno-contact-data {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}

.interno-contact-data span {
    font-size: 22px;
}

.copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 113px;
    gap: 40px;
    flex-direction: column;
}

.copyright-line {
    width: 100%;
    height: 1px;
    background: #E5E5E5;
}

.copyright span {
    font-size: 22px;
}

/* message */
.not-found-message {
    font-size: 18px;
    color: #4D5053;
    text-align: center;
    padding: 40px 0;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 33px */
    letter-spacing: 0.22px;
}

/* dark mode */

body.dark-theme,
html.dark-theme {
    background: url('./Assets/darkBg.png') no-repeat center center;
    background-size: cover;
    color: #ccc;
}
body.dark-theme .remove-from-cart {
     background-color: transparent;
}

body.dark-theme header nav a,
body.dark-theme .interno-page a,
body.dark-theme .interno-service a {
    color: #ccc;
}
body.dark-theme button {
    color: #eee;
    background-color: #444; /* Темный фон кнопок */
    box-shadow: 0;
}
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5 {
    color: #ddd;
}
body.dark-theme p,
body.dark-theme a,
body.dark-theme span {
    color: #aaa;
}
body.dark-theme .intro {
    background: #000000;
}

body.dark-theme .intro h2,
body.dark-theme .intro span {
    color: #ddd;
}
body.dark-theme .service-title h3,
body.dark-theme .service-title p,
body.dark-theme .price {
    color: #eee;
}
 body.dark-theme .pagination button img,.dark-theme .optionBut img,
.dark-theme .burger-toggle img, .dark-theme .interno-info-media img {
    filter: invert(1);
}
/* sign out but */
.exit-button {
    font-size: 20px;
    color: #ffffff;
    display: flex;
    padding: 10px 20px;
    background-color: #C98740;
    border-radius: 18px;
}

#exit-button-mobile {
    display: none;
}