.filt-content button.active {
    background-color: #CDA274;
    color: white;
}

.page-button.active {
    font-weight: bold;
    color: #CDA274;
    background-color: #F4F0EC;
    border: none;
}