* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 1920px;
    margin: 0 auto;
    background: url('./Assets/optionsBg.png') no-repeat center center;
    background-size: cover;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    color: #292F36;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 81.25px */
}

p,
a,
span {
    color: #4D5053;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 33px */
    letter-spacing: 0.22px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: #292F36;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 22.5px */
    letter-spacing: 0.36px;

    /* Убираем стандартную обводку и фон */
    border: none;
    outline: none;
    background: none;

    /* Дополнительные стили для кроссбраузерного сброса стандартного вида кнопки */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    cursor: pointer;
    flex-shrink: 0;

    display: flex;
    padding: 26px 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
.header-container {
    margin: 55px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    width: 62.4%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.logo h1 {
    font-size: 40px;
}

.burger {
    display: none;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 46px;
    align-items: center;
    margin-left: 33.4%;
    flex-shrink: 0;
}

header nav a {
    font-size: 20px;
}

.optionBut {
    border: none;
    outline: none;
    background: transparent;
    margin-left: -10px;
    padding: 0;
}

/* banner */
.banner {
    width: 100%;
    padding-top: 182px;
    background: url('./Assets/optBanner.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.intro {
    display: flex;
    width: 26.2%;
    padding: 41px 68px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 37px 37px 0px 0px;
    background: #FFF;
}

.into-title {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.intro h2 {
    font-size: 50px;
}

.intro span {
    font-size: 22px;
}

/* purblind */

.purblind {
    margin: 200px 0 100px;
    display: flex;
    width: 62.55%;
    padding: 40px 63px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
    border-radius: 70px;
    background: #F6F6F6;
}

.title {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.title h3 {
    font-size: 55px;
    font-weight: 400;
    line-height: 125%;
    /* 68.75px */
}

/*check box */
.checkbox {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: relative;
}

.checkbox input {
    display: none;
}

.checkbox span {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('./Assets/checkBox.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.2s ease;
}


/*check box end*/
.purblind-content {
    display: flex;
    width: 89.34%;
    justify-content: center;
}

.color-scheme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
    flex: 1 0 0;
}

.color-scheme-head {
    display: flex;
    width: 310px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.color-scheme-head h4 {
    font-size: 50px;
}

.color-scheme-head p {
    font-size: 22px;
}

.color-scheme-color-pick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 210px;
}

/* color check box */
.color-scheme-color-pick .checkbox,
.typo-pick .checkbox,
.lang-pick .checkbox {
    width: 40px;
    height: 40px;
}

.color-scheme-color-pick .checkbox span,
.typo-pick .checkbox span,
.lang-pick .checkbox span {
    width: 100%;
    height: 100%;
}

/* color check box end */
.color-scheme-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.color-section-field {
    display: flex;
    align-items: center;
    gap: 35px;
}

.color-section-field-half {
    display: flex;
    width: 171px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.color-section-field-half div {
    width: 100%;
    aspect-ratio: 1 / 1;
    stroke-width: 1px;
    stroke: #000;
    border-radius: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.color-section-field-half div:first-of-type,
.color-section-field-half div:last-of-type {
    fill: #FFF;
}

.color-section-field-half.sec div,
.color-section-field-half.five div {
    background: #292F36;
}

.color-section-field-half.third div {
    background: #F4F0EC;
}

.color-section-field-half.four div {
    background: #52402D;
}

.color-section-field-half p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.purblind-image {
    display: flex;
    align-items: center;
    gap: 40px;
}

.purblind-image span {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 62.5px */
    letter-spacing: 0;
}

/* typo */
.typo-container {
    display: flex;
    width: 62.55%;
    padding: 155px 55px;
    flex-direction: column;
    gap: 134px;
    border-radius: 70px;
    background: #F6F6F6;
    justify-content: center;
    align-items: center;
}

.typo {
    display: flex;
    width: 98.34%;
    align-items: flex-start;
    gap: 82px;
}

.typo-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
}

.typo-head h4 {
    font-size: 50px;
    width: 324px;
}

.typo-head p {
    font-size: 22px;
}

.typo-pick {
    display: flex;
    padding-top: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 250px;
    align-self: stretch;
}

.typo-content {
    display: flex;
    width: 555px;
    flex-direction: column;
    align-items: flex-start;
    gap: 61px;
}

.typo-content.large {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.typo-content.large h5 {
    font-size: 32px;
    line-height: 150%;
    /* 48px */
    letter-spacing: 3.84px;
}

.typo-content.large p {
    font-size: 32px;
    letter-spacing: 3.84px;
    align-self: stretch;
}

.typo-content .line {
    width: 81.08%;
    height: 1px;
    background: #000;
}

.typo-content.mid,
.typo-content.small {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    align-self: stretch;
}

.typo-content.mid h5 {
    font-size: 24px;
    line-height: 150%;
    /* 36px */
    letter-spacing: 2.88px;
}

.typo-content.mid p {
    font-size: 24px;
    letter-spacing: 2.88px;
    align-self: stretch;
}

.typo-content.small h5 {
    font-size: 16px;
    line-height: 150%;
    /* 24px */
    letter-spacing: 1.92px;
}

.typo-content.small p {
    font-size: 16px;
    letter-spacing: 1.92px;
    align-self: stretch;
}

.typo-content.small .line {
    display: none;
}

/* lang */
.lang-container {
    margin: 100px 0;
    display: flex;
    width: 62.55%;
    padding: 155px 55px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 70px;
    background: #F6F6F6;
     height: 519px;
}

.lang {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 160px;
}

.lang-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    width: 310px;
}

.lang-head h4 {
    font-size: 50px;
}

.lang-head p {
    font-size: 22px;
}

.lang-pick {
    display: flex;
    height: 209px;
    padding-top: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lang-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 61px;
    flex: 1 0 0;
}

.eng {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lang-content .line {
    width: 350px;
    height: 1px;
    background: #000;
}

.dutch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.lang-content a {
    font-size: 36px;
    letter-spacing: 0.36px;
}

/* theme */
.theme-container {
    display: flex;
    width: 62.55%;
    padding: 155px 55px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 70px;
    background: #F6F6F6;
    height: 519px;
}

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 364px;
    flex: 1 0 0;
    align-self: stretch;
}

.theme-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
}

.theme-head h4 {
    font-size: 50px;
}

.theme-head p {
    font-size: 22px;
    width: 310px;
}

.theme-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 61px;
}

/* theme check box */
.theme-switch {
    width: 276px;
    height: 133px;
    position: relative;
    display: inline-block;
}

.theme-switch input {
    display: none;
}

.theme-switch label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url('./Assets/swtchDay.png') no-repeat center center;
    background-size: contain;
    transition: background 0.3s ease;
}

/*check box end*/
/* reset */
.reset-container {
    margin:100px 0 200px;
    display: flex;
    width: 13.07%;
    justify-content: center;
    align-items: center;
}

.reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    flex: 1 0 0;
}

.reset p {
    align-self: stretch;
    text-align: center;
    font-size: 22px;
}

.reset-but {
    border-radius: 18px;
    background: #CDA274;
    box-shadow: 0px 10px 20px 0px #1F2022;
    display: flex;
    padding: 26px 37px;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 56.97%;
    border: none;
    cursor: pointer;
}

.reset-but span {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
    /* 22.5px */
    letter-spacing: 0.36px;
}

.reset-but-text {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}
/* foot */

footer {
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 130px;
    max-height: 578px;
}

.interno {
    display: flex;
    width: 62.55%;
    align-items: flex-start;
    gap: 101px;
}

.interno-info {
    display: flex;
    width: 32.78%;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex-shrink: 0;
}

.interno-bottom-row {
    display: flex;
    flex-direction: row;
    gap: 101px;
    flex-shrink: 0;
}

.interno-info-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-bottom: 15px;
}

.interno-info-text p {
    font-size: 22px;
}

.interno-info-media {
    display: flex;
    width: 57.25%;
    align-items: center;
    gap: 54px;
}

.interno-page {
    display: flex;
    width: 10.42%;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    flex-shrink: 0;
}

.interno-page h3,
.interno-service h3,
.interno-contact h3 {
    font-size: 25px;
}

.interno-page a,
.interno-service a {
    font-size: 22px;
    line-height: 265%;
}

.interno-service {
    display: flex;
    width: 10.01%;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    flex-shrink: 0;
}

.interno-contact {
    display: flex;
    width: 21.52%;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    flex-shrink: 0;
}

.interno-contact-data {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}

.interno-contact-data span {
    font-size: 22px;
}

.copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 113px;
    gap: 40px;
    flex-direction: column;
}

.copyright-line {
    width: 100%;
    height: 1px;
    background: #E5E5E5;
}

.copyright span {
    font-size: 22px;
}
