.modal-buttons button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.modal-buttons button:hover:not(:disabled) {
  background: #1e2329;
}
body.dark-theme .modal-buttons button[type="button"]:hover,
body.dark-theme .modal-buttons button#cancel-edit:hover,
body.dark-theme .modal-buttons button#cancel-delete:hover,
body.dark-theme .modal-buttons button#cancel-new:hover {
    background: #666;
    color: #fff;
    border-color: #aaa;
}
.down-but {
    border:none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.down-but:hover {
  background-color: #d87b2a;
  transform: scale(1.05);
}

.down-but:active {
  transform: scale(0.95);
}

.exit-button {
  transition: background-color 0.3s;
  cursor: pointer;
}
.exit-button:hover {
  background-color: #666;
    color: #fff;
}
.burger-toggle {
  transition: transform 0.3s;
  cursor: pointer;
}
.burger-toggle:hover {
  transform: rotate(90deg);
}
.interno-info-media img {
  transition: transform 0.3s;
}
.interno-info-media img:hover {
  transform: scale(1.1);
}
nav a {
  transition: color 0.3s, border-bottom 0.3s;
}
nav a:hover {
  color: #f09f44;
  border-bottom: 2px solid #555;
}
.interno-page a,
.interno-service a {
  transition: color 0.3s, border-bottom 0.3s;
}
.interno-page a:hover,
.interno-service a:hover {
  color: #f09f44;
  border-bottom: 2px solid #555;
}
input[type="text"],
input[type="password"] {
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.15s ease;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #f09f44; /* твой акцентный цвет */
  box-shadow: 0 0 8px rgba(240, 159, 68, 0.6);
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #d87b2a; /* чуть более яркий акцент */
  box-shadow: 0 0 12px rgba(216, 123, 42, 0.8);
  transform: scale(1.02);
}
.form-down span a{
    font-size: 22px;
    color: #C98740;
    display: inline-block;
    transition: color 0.3s ease, transform 0.2s ease;
}
.form-down span a:hover {
  color: #555; 
  transform: scale(1.05);
}